.flex-container{
    border: 1px solid #0000;
}

.box{
    background-color: gray;
    color: #fff;
    width: 100px;
    border: 2px solid red;
    font-weight: 700;
    margin: 0.5rem;
}

.box-1{
    min-height: 100px;
}

.box-2{
    min-height: 200px;
}

.box-3{
    min-height: 300px;
}